doctype html
html
  head
    title Shopkins
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
    link(href="https://raw.githubusercontent.com/marcoceppi/bootstrap-glyphicons/master/css/bootstrap.icon-large.min.css", rel="stylesheet")
  body
    ul.nav.nav-tabs
      li(class={active: tab == "home"})
        a(href="/") Home
      for category in categories
        li(class={active: tab == category.id})
          a(href=category.id) 
            span.glyphicon.glyphicon-heart 
            | 
            = category.name
    
    .container
      h2= title
      block content
    