doctype html
html
  head
    title Shopkins
    link(href="/vendor/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
    script(src="/vendor/jquery/dist/jquery.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.js")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/angular-route/angular-route.js")
    script(src="/app/app.js")
    link(href="https://raw.githubusercontent.com/marcoceppi/bootstrap-glyphicons/master/css/bootstrap.icon-large.min.css", rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script
      | var categories = 
      !{JSON.stringify(categories)} 
  body(ng-app="app")
    shopkins-header
    .container
      h2= title
      block content
    