extends layout
block content
  ul.list-group
    for shopkin in shopkins
      li.list-group-item
        .row
          .col-md-12
            h4= shopkin.name
        .row
          .col-md-3
            if shopkin.imageUrl
              img(src="/processed/"+ shopkin.number +".jpg")
          .col-md-3
            = shopkin.number
          .col-md-2.col-md-offset-4
            span.badge(style="display:block")= shopkin.value