extends layout
block content
  ul.list-group
    for shopkin in shopkins
      li.list-group-item
        .row
          .col-md-12
            h4= shopkin.name 
            h2= shopkin.season
        .row
          .col-md-3
            if shopkin.processedImageUrl
              img(src="/processed/"+ shopkin.processedImageUrl)
          .col-md-3
            = shopkin.number
          .col-md-2.col-md-offset-4
            .label(
              style="display:block", 
              class={
                "label-default": shopkin.value=="common",
                "label-warning": shopkin.value=="ultra_rare",
                "label-success": shopkin.value=="rare",
                }
            )
              h5
                = shopkin.value