<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" ng-click="HeaderSvc.setTab('/')">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-repeat="category in categories" ng-class="{ active : HeaderSvc.getTab() == category.id}">
            <a ng-href="/categories/{{category.id}}"> 
              <span class="glyphicon glyphicon-heart"></span>
              {{ category.name }}
            </a>
        </li>
      </ul>
      <div class="navbar-right navbar-form">
        <div>
          <button ng-show="user.authenticated()" ng-click="logout()" class="btn btn-warning btn-sm">Logout</button>
          <a ng-hide="user.authenticated()" href="/login" class="btn btn-primary btn-sm">Login</a>
        </div>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>